- @categories.each do |category|
  %table.category
    %thead
      %tr
        %td= category.name
    %tbody
      - category.forums.each do |forum|
        %tr
          %td= link_to forum.name, forum